.Product_page__photo{
    width: 100%; 
    height: auto; 
}

.Product_page__carousel{

    
    height: 100%;
    width: 100%; 
}


.Product_page__slider{
    width:50%; 
    height: auto; 
    padding: 10px; 
    z-index: 0;
}